# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment files
*.env

# Temporary files
*.tmp
*.temp
__pycache__/
*.pyc
.env
venv/

# Large data files
data/yellow_tripdata_2026-01.parquet
data/fact_trip.csv
data/nyc_taxi_dw.db

data/nyc_taxi_dw_backup.db
data/nyc_taxi_dw_local_backup.db